# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
main
predator
!predator/
migrate

# Test binary, build with `go test -c`
*.test

coverage.txt

vendor/
.idea
.env
.vscode